@font-face {
    font-family: 'YeezyzTStar';
    src: url('fonts/yeezy_tstar-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;}
:root {
    --color-header: #2E3238;
    --color-primary: #404346;
    --color-secundary: #56585a;
    --color-terciary: #67696b;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: YeezyzTStar;
}
*::-webkit-scrollbar {
    width: 11px;
}
*::-webkit-scrollbar-track {
    background: #f3f3f300;
}
*::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 0px;
}


body {background-color: #efefe4; font-family: YeezyzTStar, Helvetica;}
a {text-decoration: none; color: inherit;}
ul {list-style-type: none;}


section {
    position: relative;
    width: 100%;
}

.yeezy-menu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
    width: 100%;
    height: 107vh; /* Muda a altura em que o sticky termina */
    display: flex;
}


.page-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 62px;
    color: var(--color-header);
    
    margin: 0px;
    padding: 0px;
    padding-top: 15vh;
    margin-left: 7.4vw;
}

#home-models-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    list-style-type: none;

    /*FONTE*/
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: var(--color-primary);

    margin: 0px;
    padding: 0px;
    padding-top: 9.4vh;
    margin-left: 11vw;}
#home-models-list li {margin-bottom: 15px;}

#description {
    color: var(--color-primary);
    font-size: 18px;
    margin-left: 5vw;
    margin-bottom: 5vh;
    margin-top: 1000px;
}

a {
    padding: 0px 2px;
    transition: linear .1s;
}
a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}


/* ------ EXCLUSIVOS submit.html ------ */


#go-back a {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 3px;

    transition: linear .15s;
}
#go-back a:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 1px;
}
#go-back a:hover svg {
    stroke: white;
}
#go-back a svg {
    position: relative;
    stroke: var(--color-header);
}
#go-back a h1 {
    font-size: 64px;
    margin-left: 18px;
}

.submit {
    width: 100%;
    padding-left: 13vw;
    margin-top: 80px;

    font-size: 24px;
    color: var(--color-primary);
}
.submit ol {
    margin-left: 3vw;
    margin-top: 8px;
}
.submit ol li {
    margin-bottom: 3px;
    font-size: 19px;
}

/* TABELA SUBMIT> */
.table-container { margin: 26px 13vw 0 13vw; }
table {
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 21px;
}
table td, 
table th {
    border: 3px solid #0C0C0B;
    padding: 6px 15px;
    background: white;
    color: #0C0C0B;
    vertical-align: top;
}
table th {
    text-align: right;
    width: 200px;
}
table:hover th,
table:hover td {
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.95);
    color: white;
}
/* <TABELA SUBMIT */

